<%= form_for(@stand) do |f| %>
  <% if @stand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stand.errors.count, "error") %> prohibited this stand from being saved:</h2>

      <ul>
      <% @stand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo, "Фото" %><br>
    <%= f.file_field :photo %>
  </div><br>

  <div class="field">
    <%= f.label :city, "Город" %><br>
    <%= f.text_field :city %>
  </div><br>
  <div class="field">
    <%= f.label :address, "Адрес для поиска" %><br>
    <%= f.text_field :address %>
  </div><br>
  <div class="field">
    <%= f.label :title, "Видимый заголовок" %><br>
    <%= f.text_field :title %>
  </div><br>
  <div class="field">
    <%= f.label :description, "Описание" %><br>
    <%= f.text_area :description %>
  </div><br>
  <div class="actions">
    <%= f.submit "Сохранить"%>
  </div>
<% end %>
<br>
